.test {
  display: flex;
  font-family: var(--main-font);
  color: var(--color-base-project);

  &__nested {
    color: var(--color-base-path);
  }
}

@media (--screen-md) {
  .test {
    color: fuchsia;
  }
}
