@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), local('Rubik-Regular'), url('Rubik.woff2') format('woff2'), url('Rubik.woff') format('woff'), url('Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}